@using Microsoft.AspNetCore.Identity

@inject UserManager<WebProjectAircraftForum.Areas.Identity.Data.ApplicationUser> UserManager

@model WebProjectAircraftForum.Models.AppUser.ProfileModel

<div class="container">
    <div class="row user-profile">

        <div class="user-profile-header">
            User Profile
        </div>

        <div class="col-md-4">
            @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
            {
                <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                    <div class="user-profile-image-wrapper">
                        <div id="user-profile-imagePreview" class="user-profile-image" style="background-image: url(@Model.ProfileImageUrl)" onclick="changeImage()"></div>
                        <input id="uploadFile" type="file" name="file" accept=".jpg,.jpeg,.png,.gif" style="display: none" />
                    </div>
                    <div class="user-profile-form-wrapper">
                        <div class="upload-profile-img">
                            Click the image to change avatar
                        </div>
                        <div id="img-size-restriction"></div>
                        <button class="classic-button user-profile-update-img-btn" type="submit">Update Image</button>
                    </div>
                </form>
            }
            else
            {
                <div class="user-profile-image-wrapper">
                    <div id="user-profile-imagePreview" class="user-profile-image" style="background-image: url(@Model.ProfileImageUrl)"></div>
                </div>
            }
        </div>

        <div class="col-md-8">
            <div class="user-profileWrapper">
                <div class="user-profile-info">
                    <dl class="user-profile-row">
                        <dt>
                            Username:
                        </dt>
                        <dd>
                            @Model.UserName
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Member since:
                        </dt>
                        <dd>
                            @Model.MemberSince.ToString("dddd, d MMMM, yyyy")
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Current rating:
                        </dt>
                        <dd>
                            @Model.UserRating
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Email:
                        </dt>
                        <dd>
                            @Model.Email
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            First name:
                        </dt>
                        <dd>
                            @Model.FirstName
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Last name:
                        </dt>
                        <dd>
                            @Model.LastName
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Date of birth:
                        </dt>
                        <dd>
                            @if (Model.DateOfBirth == DateTime.MinValue)
                            {
                                Html.Raw(" ");
                            }
                            else
                            {
                                @Html.DisplayFor(x => Model.DateOfBirth)
                            }
                        </dd>
                    </dl>
                    <dl class="user-profile-row">
                        <dt>
                            Country:
                        </dt>
                        <dd>
                            @Model.Country
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="profile-change-button-row">
            @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
            {
                <div class="profile-change-btn">
                    <div class="profile-change-input">
                        <div class="profile-btn-inner"></div>
                        <input type="button" value="change info" data-toggle="modal" data-target="#modalChangeInfo" data-holder="" onclick="toggleModal()" />
                    </div>
                </div>
            }
        </div>
    </div>

    @* Modal for editing profile info *@
    <div class="modal fade" id="modalChangeInfo" tabindex="-1" role="dialog" aria-labelledby="modalChangeInfo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="profile-form-container">
                    <div class="profile-form-header">
                        Change User Information
                    </div>

                    <form id="profile-form1" class="profile-form" asp-controller="Profile" asp-action="EditUser" method="post">

                        <div class="profile-form-row">
                            <div class="profile-input">
                                <input type="email" asp-for="Email" placeholder=" " />
                                <div class="profile-input-underline"></div>
                                <label asp-for="Email"></label>
                            </div>
                        </div>

                        <div class="profile-form-row">
                            <div class="profile-input">
                                <input type="text" asp-for="FirstName" placeholder=" " />
                                <div class="profile-input-underline"></div>
                                <label asp-for="FirstName"></label>
                            </div>
                            <div class="profile-input">
                                <input type="text" asp-for="LastName" placeholder=" " />
                                <div class="profile-input-underline"></div>
                                <label asp-for="LastName"></label>
                            </div>
                        </div>

                        <div class="profile-form-row">
                            <div class="profile-input">
                                <input type="text" asp-for="DateOfBirth" id="datepicker" data-date-end-date="0d" placeholder=" " />
                                <div class="profile-input-underline"></div>
                                <label asp-for="DateOfBirth"></label>
                            </div>
                            <div class="profile-input">
                                <input type="text" asp-for="Country" placeholder=" " />
                                <div class="profile-input-underline"></div>
                                <label asp-for="Country"></label>
                            </div>
                        </div>

                        <div class="profile-form-row profile-submit-btn">
                            <div class="profile-input">
                                <div class="profile-btn-inner"></div>
                                <input type="submit" value="submit" />
                            </div>

                            <div class="profile-cancel">
                                <div class="profile-cancel-btn-inner"></div>
                                <input type="button" value="close" data-dismiss="modal" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js"></script>

    <script>

        function changeImage() {
            document.getElementById("uploadFile").click();
        };

        function toggleModal() {
            $('#modalChangeInfo').modal('toggle');
        };

        $("#uploadFile").change(function () {
            if (typeof (FileReader) != "undefined") {

                var preview = $("#user-profile-imagePreview");
                preview.html("");

                $($(this)[0].files).each(function () {

                    var file = $(this);

                    if (file[0].size > 102400) {
                        $("#img-size-restriction").html('Image can\'t be larger than 100kb');
                        return;
                    }

                    var reader = new FileReader();

                    reader.onload = function (e) {

                        preview.removeAttr("style");
                        preview.attr("style", "background-image: url(" + e.target.result + ");");
                    }
                    reader.readAsDataURL(file[0]);
                });
            }
            else {
                alert("Something went wrong.");
            }
        });

        /*$("#datepicker").removeAttr("data-val");*/
        $("#datepicker").datepicker({

            format: "dd.mm.yyyy",
            language: "en-GB",
            startView: 2,
            clearBtn: true,
            startDate: '1900-01-01'
        });

    </script>

}